body {
  font-family: "Architects Daughter", cursive;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.input-box {
  font-size: 25px;
}

.search-sinal {
  font-size: 25px;
}

h1 {
  font-family: monospace;
  margin: 0 auto;
  padding: 30px 15px 30px 15px;
  border: 1px solid white;
  font-size: 50px;
}

h1:hover {
  margin: 0 auto;
  padding: 30px 15px 30px 15px;
  border: 1px solid rgb(104, 104, 255);
  background: rgb(104, 104, 255);
  border-radius: 30px;
  color: white;
}

form {
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.card-title {
  font-size: 30px;
}

.card-text {
  font-size: 25px;
}

.emoji {
  font-size: 60px;
}

.card:hover {
  background: rgb(104, 104, 255);
  color: white;
  border: rgb(104, 104, 255);
}

.weather {
  margin: 0 auto;
  padding: -10px 0 -10px 0;
  font-size: 20px;
}

h5 {
  font-weight: bold;
}

.button-features {
  margin: 0 auto;
  padding: 10px 15px 10px 15px;
  border: 1px solid rgb(208, 209, 210);
  border-radius: 3px;
  background-color: white;
  color: rgb(59, 57, 57);
}

.button-features:hover {
  margin: 0 auto;
  padding: 10px 15px 10px 15px;
  background: rgb(104, 104, 255);
  color: white;
  border: 1px solid rgb(104, 104, 255);
  border-radius: 3px;
}

#here-button {
  color: white;
  padding: 5px;
  border: 1px solid rgb(104, 104, 255);
  background-color: rgb(104, 104, 255);
  border-radius: 10px;
}

#here-button:hover {
  color: rgb(104, 104, 255);
  padding: 5px;
  border: 1px solid rgb(104, 104, 255);
  background-color: white;
  border-radius: 10px;
}
